.MenuItem{
    width:50%;
    min-width:300Px;
    padding:0 10px 25px;
}
.menu-item-container{
    border : solid 2px black;
    display:flex;
    
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin:0 -10px;
}
.menu-item-container div{
    display:block;
}
.menu-item-container img{
    height: 130px;
    width:130px;
    border-radius: 5px;
    overflow:hidden;
    position:relative;
}
.card{
border-radius: 5px;
height:160px;
width:360px;
background-color: white;
padding:15px;
display:flex;
flex-direction: row;
align-items: flex-start;
cursor:pointer;
}